{% extends 'baseuser.html' %}
{% load static %}
{% block title %}Manage Addresses{% endblock title %}


{% block user_content %}

<div class="header-padding "></div>
<div>
    <div class="profile_body">
        <div class="container-fluid">
            <div class="row d-flex justify-content-end">
                <!-- Sidebar -->
                <div id="sidebar" class="col-md-3 col-lg-2 sidebar">
                    <div class="sidebar-sticky">
                        
                        <ul class="nav flex-column">
                            <li class="">
                                <a class="nav-link text-danger" href="#">
                                   <h5> Manage My Account</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'user_profile' %}">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'order_details' %}">My Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'manage_addresses' %}">Address</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'coupon_list' %}">Coupons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'wallet' %}">Wallet</a>
                            </li>
                            <li class="">
                                <a class="nav-link text-danger" href="{% url "user_logout" %}">
                                    <h5>Logout <i class="fas fa-sign-out-alt"></i></h5>
                                </a>
                            </li>
                        </ul>
                        <button class="btn btn-outline-secondary d-md-none " type="button" id="sidebarClose">Close</button>
                    </div>
                </div>

                <div class="main col-md-8 col-lg-10">
                    <div class="text-end">
                        <button class="btn btn-outline-secondary d-md-none" type="button" id="sidebarToggle"> <i class="fa fa-cog"></i></button>
                    </div>
                    <div class="container mt-4 address-manage">
                        <div class=" d-flex justify-content-between header">
                            <h2>MANAGE ADDRESSES</h2>
                            <!-- Button trigger modal -->
                            <button type="button" class=" btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Add Address +
                            </button>
                        </div>

                        <div class="row address-card d-flex justify-content-center">
                            <div class="col-md-8 text-start ">
                                <h5>Addresses:</h5>
                                {% if addresses %}
                                    {% for address in addresses %}
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ address.get_address_type_display }} Address<sup class="badge text-bg-secondary">
                                                {% if not address.default %}
                                                <a href="{% url 'set_default_address' address.id address.address_type %}" class="btn-xm">Set as Default</a>
                                                {% else %}
                                                <a href="{% url 'set_default_address' address.id address.address_type %}" class="btn-xm text-success">Default</a>
                                                {% endif %} </sup></h5>
                                            <div class="card-text">
                                                <h6>{{ address.name }}</h6>
                                                <div class="row">
                                                    <p class="col-5"><span>Phone:</span>&nbsp{{ address.phone }}</p>
                                                    <p class="col-7"><span>Phone:</span>&nbsp{{ address.phone_alternate }}<sup>(Alternate)</sup></p>
                                                </div>
                                                
                                                <div class="row">
                                                    <p class="col-5"><span>City:</span>&nbsp{{ address.city }}</p>
                                                    <p class="col-7"><span>State:</span>&nbsp{{ address.state }}</p>
                                                </div>
                                                <div class="row">
                                                    <p class="col-5"><span>Country:</span>&nbsp{{address.country}}</p>
                                                    <p class="col-7"><span>Pincode:</span>&nbsp{{address.zip_code}}</p>
                                                </div>
                                                <p class="mb-3"><span>Address:</span>&nbsp{{ address.apartment_address }}</p>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <a href="{% url 'edit_address' address.id %}" class="btn btn-primary btn-sm pe-3"><i class="fas fa-edit"></i>&nbspedit</a>
                                                <a href="{% url 'delete_address' address.id %}" class="btn btn-danger btn-sm" onclick="return confirmDelete(this, event)">Delete&nbsp<i class="fas fa-trash-alt"></i>
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <p>You have no saved addresses.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




 <!-- Modal for adding address-->
 <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
      <div class="modal-content address-modal">
        <div class="modal-header ">
          <h3 class="modal-title" id="staticBackdropLabel">Add New Address</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
            <div class="col-md-12">
              
                {% if addresses.count < 6 %}
                <form method="post" id="addAddressForm" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="form-group col-6 ps-4">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                            <div class="invalid-feedback">
                                Please provide a valid Name.
                            </div>
                        </div>
                        <div class="form-group col-6 pe-4">
                            {{ form.address_type.label_tag }}
                            {{ form.address_type }}
                            <div class="invalid-feedback">
                                Please select an address type.
                            </div>
                        </div>
                    </div>
                    <div class=" row d-flex justify-content-between">
                        <div class="form-group col-6 ps-4">
                            {{ form.phone.label_tag }}
                            {{ form.phone }}
                            <div class="invalid-feedback" id="phoneError">
                                Please provide a valid 10-digit phone number.
                            </div>
                        </div>
                        <div class="form-group col-6 pe-4">
                            {{ form.phone_alternate.label_tag }}
                            {{ form.phone_alternate }}
                            <div class="invalid-feedback" id="phoneAlternateError">
                                Please provide a valid 10-digit phone number.
                            </div>
                        </div>
                    </div>
                    <div class=" row d-flex justify-content-between">
                        <div class="form-group col-6 ps-4">
                            {{ form.city.label_tag }}
                            {{ form.city }}
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>
                        <div class="form-group col-6 pe-4">
                            {{ form.state.label_tag }}
                            {{ form.state }}
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="form-group col-6 ps-4">
                            {{ form.country.label_tag }}
                            {{ form.country }}
                            <div class="invalid-feedback">
                                Please provide a valid country.
                            </div>
                        </div>
                    
                        <div class="form-group col-6 pe-4">
                            {{ form.zip_code.label_tag }}
                            {{ form.zip_code }}
                            <div class="invalid-feedback" id="zipCodeError">
                                Please provide a valid 6-digit zip code.
                            </div>
                        </div>
                    </div>
                    <div class="form-group px-3">
                        {{ form.apartment_address.label_tag }}
                        {{ form.apartment_address }}
                        <div class="invalid-feedback">
                            Please provide a valid apartment address.
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Address</button>                      </div>
                </form>
                {% else %}
                <p>You have reached the maximum number of addresses (6).</p>
                {% endif %}
            </div>
        </div>
        
      </div>
    </div>
</div>

{% if messages %}
<script>
    {% for message in messages %}
        Swal.fire({
            icon: '{{ message.tags }}',
            title: '{{ message.tags|title }}',
            text: '{{ message|safe }}',
        });
    {% endfor %}
</script>
{% endif %}
<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var form = document.getElementById('addAddressForm');
            
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);

            // Custom validation for phone numbers and zip code
            var phoneInput = document.getElementById('{{ form.phone.id_for_label }}');
            var phoneAlternateInput = document.getElementById('{{ form.phone_alternate.id_for_label }}');
            var zipCodeInput = document.getElementById('{{ form.zip_code.id_for_label }}');

            function validatePhoneNumber(input, errorElement) {
                var phoneRegex = /^\d{10}$/;
                if (!phoneRegex.test(input.value)) {
                    input.setCustomValidity("Invalid phone number");
                    errorElement.textContent = "Please enter a valid 10-digit phone number.";
                } else {
                    input.setCustomValidity("");
                }
            }

            function validateZipCode(input) {
                var zipCodeRegex = /^\d{6}$/;
                if (!zipCodeRegex.test(input.value)) {
                    input.setCustomValidity("Invalid zip code");
                    document.getElementById('zipCodeError').textContent = "Please enter a valid 6-digit zip code.";
                } else {
                    input.setCustomValidity("");
                }
            }

            phoneInput.addEventListener('input', function() {
                validatePhoneNumber(this, document.getElementById('phoneError'));
            });

            phoneAlternateInput.addEventListener('input', function() {
                validatePhoneNumber(this, document.getElementById('phoneAlternateError'));
            });

            zipCodeInput.addEventListener('input', function() {
                validateZipCode(this);
            });

            // Prevent non-numeric input for phone and zip code fields
            function preventNonNumericInput(event) {
                if (event.which < 48 || event.which > 57) {
                    event.preventDefault();
                }
            }

            phoneInput.addEventListener('keypress', preventNonNumericInput);
            phoneAlternateInput.addEventListener('keypress', preventNonNumericInput);
            zipCodeInput.addEventListener('keypress', preventNonNumericInput);
        }, false);
    })();
</script>
<script>
    function confirmDelete(element, event) {
        event.preventDefault(); // Prevent the default action
    
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = element.href; // Proceed with the deletion
            }
        });
    
        return false; // Prevent the default action
    }
</script>
<script>
    document.getElementById('sidebarToggle').addEventListener('click', function () {
        document.getElementById('sidebar').classList.toggle('d-block');
    });

    document.getElementById('sidebarClose').addEventListener('click', function () {
        document.getElementById('sidebar').classList.toggle('d-block');
    });
</script>
{% endblock user_content %}