{% extends 'baseuser.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}

{% block user_content %}
<div class="header-padding"></div>
    
<div class="container d-flex justify-content-center my-5">
    <div class="forgot_password_container">
        {% for message in messages %}
        <div class=" alert-{{ message.tags }} " role="alert" id="alertBox">
            <strong>{{message}}</strong> 
        </div>
    {% endfor %}
        <h2 class="mt-2 mb-3">Forgot Password</h2>
        <form method="POST" action="{% url 'forgot_password' %}" id="otpForm" >
            {% csrf_token %}
            <div class="form-group t-2">
                <label for="exampleInputEmail1"> Enter your Email for Reset the password</label>
                <input type="email" name="email" value="{{ email }}" class="form-control" id="exampleInputEmail1"  placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-danger mt-4">Send OTP</button>
        </form>
    </div>
</div>



{% endblock user_content %}